
.header{
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 70px;
	background-color: steelblue;
	position: relative;
}
.buttonSection{
	position: relative;
	height: 100%;
	width: 100%;
}
.triviaContainer{
	background-color: lightgrey;
	margin-left: 280px;
	padding:20px;
	font-family: 'Work Sans', sans-serif;
	position: relative;
	width: 642px;
	line-height: 25px;
}
#timer{
	text-align: center;
	font-size: 25px;
	color: red;
	margin-bottom: 10px;
}
.question{
	font-size: 25px;
	text-align: center;
	font-style: bold;
}
.answers{
	list-style: upper-alpha;
	margin-top: 5px;
}
.doneButton{
	margin-left: 190px;
	width: 200px;
	height: 50px;
	font-size: 25px;
	padding: 1px;
	box-shadow: 5px 5px 5px #888888;
}
.results{
	background-color: yellow;
}
